
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!--=============== IMAGE DE CONNEXION ===============-->
<svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0" mask-type="alpha">
    <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
        0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
        591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
        167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z" />
  </mask>
  <g mask="url(#mask0)">
    <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
        0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
        591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
        167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z" />
    <image class="login__img" href="../../assets/img.jpg" />
  </g>
</svg>

<!--=============== CONNEXION ===============-->
<div class="login container grid" id="loginAccessRegister">
  <div class="login__access">
    <h1 class="login__title">Créer un compte</h1>

    <div class="login__area">
      <form class="login__form" (ngSubmit)="onSubmitRegister()" #registerForm="ngForm" enctype="multipart/form-data">
        <div class="login__content grid">


          <div class="login__box">
            <input type="text" id="nomComplet" name="nomComplet" class="login__input" [(ngModel)]="form.nomComplet" required />
            <label for="nomComplet" class="login__label">Nom Complet</label>
            <i class="ri-user-3-fill login__icon"></i>
          </div>


          <div class="login__box">
            <input type="text" id="telephone" name="telephone" class="login__input" [(ngModel)]="form.telephone" required />
            <label for="telephone" class="login__label">Téléphone</label>
            <i class="ri-phone-fill login__icon"></i>
          </div>

          <div class="login__box">
            <select id="sexe" name="sexe" class="login__input" [(ngModel)]="form.sexe" required>
              <option value="M">Homme</option>
              <option value="F">Femme</option>
            </select>
            <label for="sexe" class="login__label">Sexe</label>
            <i class="ri-user-3-fill login__icon"></i>
          </div>

          <div class="login__box">
            <input type="number" id="salaireParJour" name="salaireParJour" class="login__input" [(ngModel)]="form.salaireParJour" required />
            <label for="salaireParJour" class="login__label">Salaire/Jour</label>
            <i class="ri-money-euro-circle-fill login__icon"></i>
          </div>

          <div class="login__box">
            <input type="email" id="email" name="email" class="login__input" [(ngModel)]="form.email" required />
            <label for="email" class="login__label">Email</label>
            <i class="ri-mail-fill login__icon"></i>
          </div>

          <div class="login__box">
            <select id="role" name="role" class="login__input" [(ngModel)]="form.role" required>
              <option value="ADMIN">Admin</option>
              <option value="SERVEUR">Serveur</option>
              <option value="ASSISTANT">Assistant</option>
            </select>
            <label for="role" class="login__label">Rôle</label>
            <i class="ri-shield-user-fill login__icon"></i>
          </div>

          <div class="login__box">
            <input type="password" id="password" name="password" class="login__input" [(ngModel)]="form.password" required />
            <label for="password" class="login__label">Mot de passe</label>
            <i class="ri-lock-password-fill login__icon"></i>
          </div>

        </div>

        <button type="submit" class="login__button" style="margin-top: 25px;">Créer un compte</button>
      </form>

      <p class="login__switch">
        Vous avez déjà un compte ?
        <button routerLink="/signin">Se connecter</button>
      </p>
    </div>
  </div>
</div>
