<div class="navigation">
  <ul>
      <li>
          <a href="#">
              <span class="icon">
                  <img id="logoImage" src="../../../assets/logo.png" width="130" height="120" alt="Grilli - Home" style="margin-left: 50px;">
              </span>
          </a>
      </li>

      <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
          </a>
      </li>

      <li>
        <a routerLink="/admin/listeAttente" routerLinkActive="active">
        <span class="icon">
                  <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Liste En Attente</span>
          </a>
      </li>

      <li>
          <a href="/admin/tableRestaurant" routerLinkActive="active">
              <span class="icon">
                <ion-icon name="calendar-outline"></ion-icon>
              </span>
              <span class="title">Reservation</span>
          </a>
      </li>

      <li>
          <a href="/admin/plats" routerLinkActive="active">
              <span class="icon">
                  <ion-icon name="restaurant-outline"></ion-icon>
              </span>
              <span class="title">Menu</span>
          </a>
      </li>

      <li>
          <a href="/admin/employes" routerLinkActive="active">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Employes</span>
          </a>
      </li>

      <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Password</span>
          </a>
      </li>

      <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
          </a>
      </li>
  </ul>
</div>

