<app-headerclient></app-headerclient>

    <!-- Section À propos -->
    <section id="about" style="  margin-top: 80px;">
        <div class="container">
            <div class="title">
                <h2>L'histoire de Foody 🍽 🍴 </h2>
                <p>Plus de 10 années d'expérience culinaire</p>
            </div>
            <div class="about-content">
                <div>
                    <p>Bienvenue chez Foody 🍽, votre destination culinaire exclusive à Gammarth. Depuis nos débuts,
                        nous cultivons une passion pour les saveurs authentiques et l’art de la gastronomie. Chaque plat
                        est une symphonie de créativité, de fraîcheur et de qualité.</p>
                    <p>Découvrez nos créations uniques préparées par des chefs talentueux, mettant à l’honneur les meilleurs
                        ingrédients de notre région. Chez Foody, chaque repas est une célébration, et chaque bouchée, une aventure gustative.
                        Rejoignez-nous et goûtez à l'essence même de la gastronomie à Gammarth.</p>
                </div>
                <img src="../../../../assets/slideAcceuil/about_img.png" alt="Une pizza appétissante">
            </div>
        </div>
    </section>

    <!-- Section Maitre Gourmet -->
    <section id="gallery">
        <div class="container">
            <h2>Notre Maître Gourmet de Foody</h2>
            <h3> ✨ Gnouma Maram ✨</h3>
            <div class="img-gallery">
                <img src="../../../../assets/chefs/maram.jpg" alt="Portrait de Maram Gnouma">
            </div>
        </div>
    </section>

    <!-- Section Les Chefs -->
    <section id="gallery">
        <div class="container">
            <h2>Nos trésors culinaires 👨‍🍳</h2>
            <h3 style="margin-bottom: -70px;">Notre équipe de chefs</h3>
            <div id="card-area">
                <div class="wrapper">
                    <div class="box-area">
                        <div class="box">
                            <img src="../../../../assets/chefs/slim.png" alt="Chef Slim Douiri">
                            <div class="overlay">
                                <h3>Slim Douiri</h3>
                                <p>Chef cuisinier spécialisé dans le salé</p>
                            </div>
                        </div>
                        <div class="box">
                            <img src="../../../../assets/chefs/tarek.png" alt="Chef Tareq Taha">
                            <div class="overlay">
                                <h3>Tareq Taha 🍉</h3>
                                <p>Chef spécialiste des viennoiseries</p>
                            </div>
                        </div>
                        <div class="box">
                            <img src="../../../../assets/chefs/teyssir.jpg" alt="Chef Teyssir Ksouri">
                            <div class="overlay">
                                <h3>Teyssir Ksouri</h3>
                                <p>Chef expert en plats tunisiens</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>
